#features {
h3 {
    font-weight: 500;
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
p {
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
}