#Portfolio {
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #2E2F42;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
}